<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Trace"
	  internalLogFile="..\TransactionStore.API\bin\Debug\Logs\internallog.txt">
	<targets>
		<target name="logfile" xsi:type="File"
				fileName="${environment:LogTStore}\TransactionStore_Logfile.txt"
				layout="${level:uppercase=true} ${date} ${callsite} ${callsite-linenumber} ${message} "
				archiveFileName="${environment:LogTStore}\Archive\TransactionStore_Logfile.${shortdate}.zip"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="0"
				concurrentWrites="true"
				enableArchiveFileCompression="true" />
		<target name="ErrorLogfile" xsi:type="File"
				fileName="${environment:LogTStore}\TransactionStore_ErrorLogfile.txt"
				layout="${level:uppercase=true} ${date} ${message} "
				archiveFileName="${environment:LogTStore}\Archive\TransactionStore_ErrorLogfile.${shortdate}.zip"
				archiveEvery="Day"
				archiveNumbering="Rolling" 
				maxArchiveFiles="0"
				concurrentWrites="true"
				enableArchiveFileCompression="true" />
		<target name="Console" xsi:type="Console"
				layout="${level:uppercase=true} ${date} ${message} "/>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
		<logger name="*" minlevel="Error" writeTo="ErrorLogfile" />
		<logger name="*" minlevel="Error" writeTo="Console" />
	</rules>
</nlog>